<section>
{{#each restaurants}}
{{!-- <article class="card">
  <img src="{{this.image}}" alt="{{this.name}}" style="width:100%">
  <div class="container">
    <h4><b>{{this.name}}</b></h4> 
  </div>
</article> --}}
    <a href="/restaurants/{{this.id}}">
    <article class="card" style="background-image: url({{this.image}});">
        <div class="title"><h3><strong>{{this.name}}</strong></h3></div>
        <div class="menus">
            <small>Menus</small>
            {{#each this.menus}}
                <p>{{this.title}}</p>
            {{/each}}
        </div>
    </article>
    </a>
    {{/each}}

</section>